body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.librarian-dashboard {
  max-width: 300px;
  max-height: 200px;
}

.reader-dashboard {
  max-width: 300px;
  max-height: 200px;
}

.submit {
  margin-top: 70px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
}

.card-col {
  display: flex;
}

.card-book-image {
  max-height: 300px;
  max-width: 400px;
}

.card-book {
  width: 400px;
  height: 700px;
}

.card-title-font {
  font-weight: bold;
  font-size: 120%;
}

.card-text-font {
  font-size: 90%;
  margin: unset;
}